.container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  height: 100vh;
  width: 100%;
  background: url("../assets/images/homepageimg.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.list {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 5rem;
  list-style: none;
  margin: 0 5rem 5rem 0;
}
.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 80%;
  cursor: pointer;
}
.listItem:hover {
  opacity: 100%;
}
.menuDesc {
  font-size: 20px;
  color: white;
}
.desc {
  font-family: "Dancing Script", cursive;
  color: white;
  opacity: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  cursor: default;
  user-select: none;
}
.title {
  font-size: 12rem;
}
.desc {
  font-size: 5rem;
}
